.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    /*margin: auto;*/
    font-family: arial;
    max-height: fit-content;
}
  
.info-sec {
    display: inline-flex;
    text-align: center;
}

.txt {
    color: grey;
    font-size: 12px;
    margin: 0 14px;
    text-align: center;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 0 10px;
}

.sub-txt {
    font-size: 14px;
    overflow: hidden;
    white-space:pre;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    padding: 0 10px;
}
 
img {
    width: 100%;
    max-height: 200px;
    margin: auto;
}

a {
    text-decoration: none;
}
  
.card .button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card .button:hover {
    opacity: 0.7;
}

.row {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.column {
    padding: 10px;
    min-width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/


.clearfix {
    clear: both;
  }
   
  .box {
    width: 100%;
    }
  .title-box {
    cursor: pointer;
    padding: 15px;
    }
  .title {
    width: calc(100% - 20px);
  }
   
  .content {
    padding: 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    margin: 15px 0px;    
}