.row {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0.9375em;
}

.side-news {
    padding: 0.625em 0.9375em;
    margin: 0.625em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}
  
.column-4 {
    padding: 0.625em;
    min-width: 40%;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.column-6 {
    padding: 0.625em;
    min-width: 60%;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    margin: 0.625em 0;
    padding: 0 0.3125em;
}

.txt {
    color: black;
    font-size: 0.75em;
    margin: 0 0.875em;
    text-align: center;
}

.read-txt {
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin: 0.625em 0.875em;
    text-align: center;

}

.image {
    width: 100%;
    border: 0.3125em solid black;
}

.link {
    font-weight: bold;
    color: black;
}

.button {
    border: none;
    outline: 0;
    padding: 0.75em;
    margin-top: 0.625em;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.125em;
}

.button:hover {
    opacity: 0.7;
}

.info-sec {
    display: inline-flex;
}

.reading-section {
    padding: 0.625em 0.9375em;
}

.tags {
    margin-right: 0.5em;
    padding: 0 0.9375em;
    cursor: pointer;
    font-weight: bold;
}

.expansion {
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    text-align: center;
}

.expansion p {
    margin: 0;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
    .tags {
        padding: 0;
        font-size: 0.85em;
    }

    h1 {
        font-size: 20px;
    }

    .row {
        display: block;
    }

    .link {
        display: block;
        text-align: left;
    }
}

