form {
	padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.Form-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.625em;
  margin: 0;
  }

input[type="search"] {
  margin-right: 0.9375em;
  width: 18.75em;
  padding: 0.9375em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: groove lightgrey; 
}

input[type="search"]:focus {
  outline: none;
}

input[type="date"] {
  padding: 0.9375em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  
}

input[type="date"]:focus {
  outline: none;
}

form button {
  padding: 0.625em 2.8125em;
  margin-left: 0.625em;
}

@media screen and (max-width: 393px) {
  .Form-header {
    font-size: 1.2em;
  }

  form {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }

  input[type="search"] {
    width: 12.5em;
  }

  form button {
    padding: 0.5em 2.2125em;
  }
} 